<div id="navbar">
  <ul id="ul-logo">
    <li> <%= image_tag 'KindBurgerFullColorLogo.png', id:'logo' %></li>
  </ul>
  <ul id="ul-nav-menu">
   <li class=""><%= link_to 'Home', root_path %></li>
   <li class=""><%= link_to 'Menu', root_path %></li>
   <li class=""><%= link_to 'Contact', root_path %></li>
   <li class=""><%= link_to 'Donate', root_path %></li>
 </ul>

</div>