<h1>Index Page</h1>

<%= render 'authentication_links' %>


<%= link_to "Create New Menu Item", new_menu_item_path %>

     


<% @menu_items.each do |item| %>
  <%=image_tag item.main_image unless item.main_image.nil?%>
  <%= link_to item.name, menu_item_path(item) %>
  <%= item.price %>
  <%= item.category %>
  <%= item.description %>
  <%= link_to "Edit", edit_menu_item_path(item) %>
  <%= link_to "Delete", @menu_item, method: :delete, data: {confirm: "are you sure you want to delete this menu item?"} %>
<% end %>
