<div class="cover-slider-container container-fluid" id="head">
  <%= render 'nav' %>
</div>


    <div class="menu-container container-fluid" id='menu-container'> 
      <h2 id="burger-header"> BURGERS </h2>
        <%= render "burgers" %>
      <h2 id="fries-header"> FRIES </h2>
         <%= render 'fries' %>
      <h2 id="desserts-header"> SHAKES </h2>
          <%= render 'desserts' %>


        <%= link_to "Create New Menu Item", new_menu_item_path %>
    </div>

  <div class="parallax-filler">
  </div>

  <h4 id="about">@about</h4>
    <div class="container-fluid" id="about-container">
      <%= render 'about' %>
    </div>


  <div class="parallax-filler">
  </div>

  <h4 id="contact">contact</h4>
    
    <div class="container-fluid" id="contact-container" >
      contact
    </div>

  <div class="parallax-filler">
  </div>

  <h4 id="email">email</h4>
    
    <div class="container-fluid" id="email-collector-container">
      collect emails here
    </div>
</div>













  

