<div class="cover-slider-container container-fluid" id="head">
  <%= render 'nav' %>
</div>


    <div class="menu-container container-fluid" id='menu-container'> 

        <div class="col-md-8">
          <%= render "burgers" %>
        </div>
        <div class="col-md-4">
          <%= render 'fries' %>
          <%= render 'desserts' %>
        </div>

        <%= link_to "Create New Menu Item", new_menu_item_path %>
  <!--       <div class="col-md-6">
  
        </div> -->
    </div>

  <div class="parallax-filler">
  </div>

  <h4 id="about">@about</h4>
    <div class="container-fluid" id="about-container">
      <%= render 'about' %>
    </div>


  <div class="parallax-filler">
  </div>

  <h4 id="contact">contact</h4>
    
    <div class="container-fluid" id="contact-container" >
      contact
    </div>

  <div class="parallax-filler">
  </div>

  <h4 id="email">email</h4>
    
    <div class="container-fluid" id="email-collector-container">
      collect emails here
    </div>
</div>













  

